<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5e4bcf93eb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/login.css">
        <title>Iniciar Sesion</title>
        <link rel="shortcut icon" href="/img/p2.png">
    </head>
<body>
    <header>
        <div class="header">
            <div class="cabecera">
                <img src="/img/pear1.png" alt="logo_pear" class="logo">
                <div class="iconosCabecera">
                    <i class="fa-solid fa-cart-shopping botonCabecera"></i>
                    <i class="fa-solid fa-bars botonCabecera"></i>
                </div>
            </div>
        </div>
        <nav class="menu-principal">
            <ul class="nav-bar">
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Categorias</a></li>
                <li><a href="#">Publicar</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <ul class="login-bar">
                <li><a href="/register">Creá tu cuenta <i class="fa fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="iconoCerrar">
            <i class="fas fa-times"></i>
        </div>
        <div class="iconoFotoPerfil">
            <i class="fas fa-user-alt"></i>
        </div>
        <form action="/" method="POST">
            <div class="formulario">
                <label for="login">
                    <input type="text" id="username" name="login" placeholder="  Nombre de usuario" class="textos" minlength="3">
                </label>
                <label for="login">
                    <input type="password" name="login" id="password" placeholder="  Contraseña" class="textos" minlength="8">
                </label>                  
            </div>
            <div class="botonIniciarSesion">
                <button type="submit" class="botones" onsubmit="location.href='/'">Iniciar Sesión</button>  
            </div>
            <div class="links">
                <a href="">¿No tenés cuenta? Registrate</a>
                <a href="">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="metamask">
                <h4>También podes ingresar con:</h4>
                <img src="img/MetaMask.png" alt="logo_metamask">
            </div>
        </form>

        
    </main>
    <footer>
        <div class="secciones">
            <p class="titulo">Unite a la comunidad Pear</p>
            <div>
                <form action="/" method="POST">
                    <input type="email" id="emailSuscripcion" placeholder="   Email">
                    <button type="submit" class="botonSuscribirme" onclick="location.href='/'">Suscribirme</button>
                </form>
            </div>
        </div>
        <div class="secciones">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-google"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <img src="/img/p2.png" alt="logo_pear2" class="logoFooter">
        <div class="secciones">
            <p class="derechos">© 2021 - 2022 Grupo 7, Digital House</p>
            <a href="/" class="derechos">Terminos y Condiciones</a>
            <a href="/" class="derechos">Acuerdo de Privacidad</a>
        </div>
    </footer>

</div>
    
</body>
</html>