<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs", {titulo: "Pear, sitio de compra y venda de NFT", cssSheet: "create"}) %>

<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <!-- Nombre, Precio, Descripcion, archivo (enlace) -->
        <div class="container-principal">
            <p>Publica tu NFT</p>
            <form action="/products" method="POST" enctype="multipart/form-data" class="formulario">
                <div class="fieldForm">
                    <label class="etiquetas">Nombre de tu producto(*)</label>
                    <input type="text" placeholder="Nombre" class="textField">
                </div>
                <div class="fieldForm">
                    <label class="etiquetas">Categoria(*)</label>
                    <select class="textField">
                        <option value="">Selecciona una catergoria</option>
                        <option value="arte">Arte</option>
                        <option value="cine">Cine</option>
                        <option value="deporte">Deportes</option>
                        <option value="fotografia">Fotografia</option>
                        <option value="musica">Musica</option>
                        <option value="videojuegos">Videojuegos</option>
                    </select>
                </div>
                <div class="fieldForm">
                    <label class="etiquetas">Descripcion(*)</label>
                    <input type="text" class="textField"
                        placeholder="Ingresa una breve descripción del NFT que venderas">
                </div>
                <div class="fieldForm">
                    <label class="etiquetas">URL IPFS</label>
                    <input type="text" class="textField"
                        placeholder="Sugerimos subir tu nft a ITFS y copies tu enlace acá">
                </div>
                <div class="fieldForm">
                    <label class="etiquetas">o subé tu imagen</label>
                    <input type="file" class="textField">
                </div>
                <div class="fieldForm">
                    <label class="etiquetas">Precio(*) ETH</label>
                    <input type="text" class="textField"
                        placeholder="Tu valor en ETH, lo puedes cambiar cuando quieras">
                </div>
                <div class="botonCrear">
                    <button type="reset" class="botones">Borrar</button>
                    <button type="submit" class="botones">Publicar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>