<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5e4bcf93eb.js" crossorigin="anonymous"></script>
     <script src="https://kit.fontawesome.com/718cbc015b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Pear, sitio de compra de Nft</title>
    <link rel="shortcut icon" href="/img/p2.png">
</head>

<body>
    <header>
        <div class="header">
            <div class="cabecera">
                <img src="/img/pear1.png" alt="logo_pear" class="logo">
                <div class="iconosCabecera">
                    <a href="/shopping-cart"><i class="fas fa-shopping-cart fa-bars botonCabecera"></i></a>
                    <i class="fas fa-bars botonCabecera" id="burger"></i>
                </div>
            </div>
        </div>
        <nav class="menu-principal">
            <ul class="nav-bar">
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Categorias</a></li>
                <li><a href="#">Publicar</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <ul class="login-bar">
                <li><a href="/register">Creá tu cuenta <i class="fa fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
       <div class="tituloyreturn">
           <h1>ONE APE#1901</h1>
           <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
       </div>
       <div class="detallecompra">
        <img class="imagendetalle" src="/img/slider1.jpg" alt="slider">
       </div>
       <div class="valorcompra">
           <p>Precio:</p>
           <p>~0.098 ETH</p>
           <p>(299.55 USD)</p>
           <a href="/shopping-cart"><i class="fas fa-shopping-cart fa-bars botoncompra2"></i></a>
       </div>
       <button class="botoncomprar">Comprar Ahora</button>
       <div class="datosvendedor">
           <h2>Vendedor</h2>
           <div class="ranknft">
           <p>One APE</p>
           <i class="fa-solid fa-star"></i>
           <p>4.1/5</p>
           <i class="fa-solid fa-images"></i>
           </div>
        </div>
       
       
       <div class="descripcionnft">
           <h2>Descripcion:</h2>
           <p>Rarity: Gold amulet ONE APE - a unique collection consisting of 1991 NFTs. these cheerful apes bring good to the world, fight for freedom od thought and exprssion Every ONEAPE has it own amulet.</p>
       </div>

    </main>
    <footer>
        <div class="secciones">
            <p class="titulo">Unite a la comunidad Pear</p>
            <div>
                <form action="/" method="POST">
                    <input type="email" id="emailSuscripcion" placeholder="   Email">
                    <button type="submit" class="botonSuscribirme" onclick="location.href='/'">Suscribirme</button>
                </form>
            </div>
        </div>
        <div class="secciones">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-google"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <img src="/img/p2.png" alt="logo_pear2" class="logoFooter">
        <div class="secciones">
            <p class="derechos">© 2021 - 2022 Grupo 7, Digital House</p>
            <a href="/" class="derechos">Terminos y Condiciones</a>
            <a href="/" class="derechos">Acuerdo de Privacidad</a>
        </div>
    </footer>
</body>

</html>