:root{
    --VerdeOscuro:#3AAFB9;
    --Celeste: #97C8EB;
    --VerdeClaro: #B9F18C;
}

*{
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    margin: 0;
  }

main{
    width: 100%;    
    margin: auto;
}
.errorRegister{
    color: red;
}
.error-div{
    margin: -20px;
    margin-left: 10px;
}

.botones{
  
    text-align: center;
    background-color: var(--Celeste);
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 14px;
    transition: all 450ms;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
}

@media (min-width: 430px) and (max-width: 800px){
    .container-principal{
        width: 100%;
        margin: auto;
    } 

}

@media (min-width: 801px){
    .container-principal{
        width: 40%;
        margin: auto;
    }   
    .botones{
  
        text-align: center;
        background-color: var(--Celeste);
        border-radius: 4px;
        color: white;
        border: none;
        font-size: 18px;
        transition: all 450ms;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 15px;
    }
}
