body {
    width: 100%;
    margin: 0;
  }
.home-general{
  padding-left: 5%;
  margin: auto;
}
.home-general p{
  font-weight: bold;
  font-size: 20px;
}
.slider-principal {
  justify-content: center   ;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.slider-principal img{
  max-width: 100%;
  border-radius: 10px;
}