:root {
  --VerdeOscuro: #3AAFB9;
  --Celeste: #97C8EB;
  --VerdeClaro: #B9F18C;
}

body {
  width: 100%;
  margin: 0;
}



/* CSS Mas visitados*/
.home-general {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.titulos-principal {
  font-weight: bold;
  font-size: 20px;
  padding-left: 5%;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.slider-principal {
  justify-content: center;
  width: 90%;
  position: relative;

}

.slider-principal img {
  border: gray 1px solid;
  border-radius: 10px;
  width: 100%;
}

.name-section {
  position: absolute;
  bottom: -3%;
  right: 20%;
  color: white;
  font-weight: bold;
}
/* CSS Categorias */
.categorias-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.icon-home{
  width: 22%;
  text-align: center;
  padding: 10px 5px 0px 5px;
  /* border: 1px rgb(173, 173, 173) solid; */
  margin-bottom: 5px;
}

.iconos-home{
  color: var(--VerdeOscuro);
  font-size: 2.5em;
  text-align: center;
}

.nombre-categoria {
  font-size: 1em;
  font-weight: bold;
  color: var(--VerdeOscuro);
  margin: 0;
}

/* CSS Partners */
.partners-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.partner-home img {
  width: 90%;
  padding: 5%;
  border: gray 1px solid;
  border-radius: 10px;
}

/* CSS Crear y vender NFT */
.opciones-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.pasos-home {
  text-align: center;
  padding: 10px;
}

.subtitulo-pasos {
  font-weight: bold;
  font-size: 20px;
  color: var(--VerdeOscuro);
}

.texto-pasos {
  font-weight: bold;
  color: gray;
}

.iconos {
  color: var(--VerdeOscuro);
  font-size: 40px;
}

@media (min-width: 430px) and (max-width: 800px) {
  .slider-principal {
    width: 40%;
  }

  .home-general {
    width: 70%;
    margin: auto;
  }

  .categorias-home {
    margin: auto;
  }

  .partners-home {
    width: 50%;
    margin: auto;
  }

  .opciones-home {
    width: 75%;
  }

  .pasos-home {
    width: 80%;
  }
}

@media (min-width: 801px) {
  .slider-principal {
    width: 30%;
  }

  .main {
    width: 80%;
    margin: auto;
  }

  .titulos-principal {
    font-weight: bold;
    font-size: 2.5em;
  }

  .categorias-home {
    margin: auto;
    flex-wrap: nowrap;
  }

  .partners-home {
    width: 50%;
    margin: auto;
  }

  .opciones-home {
    width: 50%;
  }

  .iconos {
    font-size: 2em;
  }

  .opciones-home {
    width: 100%;
  }

  .pasos-home {
    width: 23%;
    font-size: 2em;
  }

  .subtitulo-pasos {
    font-size: 1em;
  }
}