:root{
    --VerdeOscuro:#3AAFB9;
    --Celeste: #97C8EB;
    --VerdeClaro: #B9F18C;
}

*{
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-times{
    color: white;
}

.iconoCerrar{    
    background-color: #da6e6ee5;
    margin: 20px;
    border-radius: 8px;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    left: 40%;
}

.iconoFotoPerfil{
    font-size: 75px;
    color: gainsboro;
    margin-bottom: 20px;
}

label{
    width: 80%;
    display: flex;
    justify-content: center;
}

main form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main form input{
    height: 30px;
    font-size: 14px;
}

.inputs{
    width: 80%;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 4px;
    border: solid 1px gainsboro;
    box-shadow: 0px 0px 10px gainsboro;  
    text-align: center;
    font-weight: 200;  
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;      
}

.checks{    
    margin: 15px;
    height: auto;
}

.checksWrap{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;    
}
.checksWrap label{
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 300;
}

.botones{
    width: 40%;    
    text-align: center;
    background-color: var(--VerdeOscuro);
    border-radius: 4px;
    color: white;
    border: blue;
    font-size: 14px;
    transition: all 450ms;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
} 
.botones:hover{
    background-color: #0022AA;
}

main button{
    height: 40px;
}

.checksWrap button{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (min-width: 430px) and (max-width: 800px){
    .logo{
        position: relative;
        left: -40px;
        max-height: 350%;
        width: 90%;
    }
    .fa-cart-shopping{
        font-size: 30px;
    }
    .fa-bars{
        font-size: 30px;
    }
    .iconoFotoPerfil{
        font-size: 100px;
    }
    .iconosCabecera{
        position: absolute;
        left: 75%;
    }
    .iconoCerrar{
        left: 30%;
    }
    .inputs{
        font-size: 16px;
    }
}

@media (min-width: 801px){
    .inputs{
        font-size: 18px;
    }
    .iconoFotoPerfil{
        font-size: 100px;
    }
    .checksWrap{
        font-size: 18px;
    }
    .botones{
        font-size: 18px;
    }
}

