<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {titulo: "Panel de administrador" , cssSheet: "profile" }) %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <h1>Listado de categorias</h1>
                <p>
                    <a class="botonAgregar" href="#">Agregar una categoria</a>
                    <a class="botonVolver" href="/admin/profile">Inicio</a>

                </p>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>

</html>