<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {titulo: "Panel de administrador", cssSheet: "profile"}) %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <p>Total de usuarios</p>
        <p>Total de Productos activos</p>
    </main>
    <%- include("../partials/footer.ejs") %>    
</body>
</html>